In [3]:
import pandas as pd

user_column = ['userId', 'gender', 'age', 'occupation', 'zipCode']
user = pd.read_csv('./data/users.dat', delimiter='::', names=user_column)

/var/folders/l4/h9c29wr16rgc17kf2d83v24r0000gn/T/ipykernel_24224/4183029143.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  user = pd.read_csv('./data/users.dat', delimiter='::', names=user_column)

In [4]:
user.head()

   userId gender  age  occupation zipCode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455

In [8]:
import pickle

readlist = pickle.load(open('cache/readlist.pkl', 'rb'))
readlist['1']

[('3186', 4.0, 978300019),
 ('1270', 5.0, 978300055),
 ('1721', 4.0, 978300055),
 ('1022', 5.0, 978300055),
 ('2340', 3.0, 978300103),
 ('1836', 5.0, 978300172),
 ('3408', 4.0, 978300275),
 ('2804', 5.0, 978300719),
 ('1207', 4.0, 978300719),
 ('1193', 5.0, 978300760),
 ('720', 3.0, 978300760),
 ('260', 4.0, 978300760),
 ('919', 4.0, 978301368),
 ('608', 4.0, 978301398),
 ('2692', 4.0, 978301570),
 ('1961', 5.0, 978301590),
 ('2028', 5.0, 978301619),
 ('3105', 5.0, 978301713),
 ('938', 4.0, 978301752),
 ('1035', 5.0, 978301753),
 ('1962', 4.0, 978301753),
 ('2018', 4.0, 978301777),
 ('150', 5.0, 978301777),
 ('1028', 5.0, 978301777),
 ('1097', 4.0, 978301953),
 ('914', 3.0, 978301968),
 ('1287', 5.0, 978302039),
 ('2797', 4.0, 978302039),
 ('2762', 4.0, 978302091),
 ('1246', 4.0, 978302091),
 ('661', 3.0, 978302109),
 ('2918', 4.0, 978302124),
 ('531', 4.0, 978302149),
 ('3114', 4.0, 978302174),
 ('2791', 4.0, 978302188),
 ('2321', 3.0, 978302205),
 ('1029', 5.0, 978302205),
 ('1197', 3.0, 978302268),
 ('594', 4.0, 978302268),
 ('2398', 4.0, 978302281),
 ('1545', 4.0, 978824139),
 ('527', 5.0, 978824195),
 ('595', 5.0, 978824268),
 ('2687', 3.0, 978824268),
 ('745', 3.0, 978824268),
 ('588', 4.0, 978824268),
 ('1', 5.0, 978824268),
 ('2355', 5.0, 978824291),
 ('2294', 4.0, 978824291),
 ('783', 4.0, 978824291),
 ('1566', 4.0, 978824330),
 ('1907', 4.0, 978824330),
 ('48', 5.0, 978824351)]