In [3]:
import pandas as pd

user_column = ['userId', 'gender', 'age', 'occupation', 'zipCode']
user = pd.read_csv('./data/users.dat', delimiter='::', names=user_column)

/var/folders/l4/h9c29wr16rgc17kf2d83v24r0000gn/T/ipykernel_24224/4183029143.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  user = pd.read_csv('./data/users.dat', delimiter='::', names=user_column)

In [4]:
user.head()

   userId gender  age  occupation zipCode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455