In [3]:
import pandas as pd

user_column = ['userId', 'gender', 'age', 'occupation', 'zipCode']
user = pd.read_csv('./data/users.dat', delimiter='::', names=user_column)

/var/folders/l4/h9c29wr16rgc17kf2d83v24r0000gn/T/ipykernel_24224/4183029143.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  user = pd.read_csv('./data/users.dat', delimiter='::', names=user_column)

In [4]:
user.head()

   userId gender  age  occupation zipCode
0       1      F    1          10   48067
1       2      M   56          16   70072
2       3      M   25          15   55117
3       4      M   45           7   02460
4       5      M   25          20   55455

In [1]:
import pickle

readlist = pickle.load(open('cache/train_readlist.pkl', 'rb'))
readlist['1670']

[('1610', 5.0, 974709359),
 ('2080', 5.0, 974709426),
 ('3251', 5.0, 974709426),
 ('1198', 4.0, 974709605),
 ('356', 5.0, 974709605),
 ('3930', 3.0, 974710047),
 ('3932', 4.0, 974710047),
 ('3926', 3.0, 974710047),
 ('3928', 4.0, 974710047),
 ('3923', 4.0, 974710107),
 ('3271', 5.0, 974710451),
 ('527', 5.0, 974710536),
 ('2858', 5.0, 974710580),
 ('2908', 5.0, 974710580),
 ('608', 5.0, 974710614),
 ('2959', 5.0, 974710614),
 ('1183', 5.0, 974710682),
 ('1584', 5.0, 974710682),
 ('318', 5.0, 974710682),
 ('345', 5.0, 974710682),
 ('36', 5.0, 974710682),
 ('296', 5.0, 974710742),
 ('1704', 5.0, 974710792),
 ('337', 5.0, 974710878),
 ('3105', 5.0, 974710918),
 ('17', 5.0, 974710918),
 ('1358', 5.0, 974710954),
 ('150', 5.0, 974710954),
 ('351', 5.0, 974710991),
 ('3147', 5.0, 974710992),
 ('1094', 5.0, 974710992),
 ('58', 5.0, 974711021),
 ('590', 5.0, 974711046),
 ('282', 5.0, 974711152),
 ('1357', 5.0, 974711152),
 ('1678', 5.0, 974711179),
 ('2291', 5.0, 974711213),
 ('3072', 5.0, 974711366),
 ('2352', 5.0, 974711366),
 ('3361', 5.0, 974711366),
 ('1307', 5.0, 974711398),
 ('3685', 5.0, 974711438),
 ('1394', 5.0, 974711438),
 ('2797', 5.0, 974711438),
 ('2463', 3.0, 974711541),
 ('3448', 5.0, 974711541),
 ('2174', 5.0, 974711541),
 ('3501', 4.0, 974711541),
 ('2716', 3.0, 974711541),
 ('2081', 5.0, 974711569),
 ('2926', 5.0, 974711569),
 ('2407', 4.0, 974711603),
 ('2791', 5.0, 974711603),
 ('2100', 4.0, 974711634),
 ('2746', 5.0, 974711634),
 ('1081', 4.0, 974711634)]

In [ ]:
 # 发现movies.dat里面的item id不是连续的，我们将其映射为连续的
import pickle

item_info = pickle.load(open('/Users/zhanghaoyang/Desktop/Movie_Recsys/data/movies.dat', 'rb'))
all_items_id = [int(i[0]) for i in item_info]
item_id_2_int = dict(list(zip(all_items_id, range(len(all_items_id)))))
int_2_item_id = dict(list(zip(range(len(all_items_id)), all_items_id)))
pickle.dump(item_id_2_int, open('/Users/zhanghaoyang/Desktop/Movie_Recsys/cache/item_id_2_int.pkl', 'wb'))
pickle.dump(int_2_item_id, open('/Users/zhanghaoyang/Desktop/Movie_Recsys/cache/int_2_item_id.pkl', 'wb'))

UnpicklingError: could not find MARK

In [ ]:
import pickle

# 3: 1,4   2,3
# 4: 1,5   2,2

train_readlist = {
    '1': [('3', 4, 324423), ('4', 5, 432432)],
    '2': [('3', 3, 324423), ('4', 2, 432432)],
}

pickle.dump(train_readlist, open('./test_cache/train_readlist.pkl', 'wb'))

In [9]:
import pickle

def dot(x, y):
    return sum([i * j for i, j in zip(x, y)])


user_emb = pickle.load(open('/Users/zhanghaoyang/Desktop/Movie_Recsys/recall/DSSM/user_emb.pkl', 'rb'))
item_emb = pickle.load(open('/Users/zhanghaoyang/Desktop/Movie_Recsys/recall/DSSM/item_emb.pkl', 'rb'))

# print(user_emb[1])
# print(item_emb[1])

dot(user_emb[1], item_emb[3186])

-4.059251294892744